<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/output.min.css" />
    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>
  </head>
  <body
    class="bg-gray-900 text-white flex flex-col justify-center items-center min-h-screen"
  >
    <!-- Header Section -->
    <div class="py-4 text-white text-center">
      <h1 class="text-4xl font-bold">{{.Title}}</h1>
      <p class="text-lg">{{.Description}}</p>
    </div>

    <!-- Main Content Section -->
    {{ template "toggle-content.html" . }}
  </body>
</html>
